
@keyframes stretch {
    0% {font-size: 1vw;}
    100% {
        font-size: 1.4vw;
        line-height: 2vw;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 nav{
    height: 26px;
    background: rgb(253, 197, 84) ;
    display: flex ;
    justify-content: space-between ;
    
    padding: 1.5rem ; 
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 167, 34);
    font-family: Verdana ;
    padding: 2rem; 
}

nav a:hover {
    padding: 2rem;
    background-color: rgb(83, 57, 5);
    color: rgb(255, 255, 255);
  }

body{
    text-align: left;
    background-color:rgb(255, 198, 91);
    width: flex;
    margin: 0;
}

h1{
    color :white;
    margin: 0;
    font-size: 3vw;
    font-family: Verdana;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

h2{
    color :white;
    margin: 0;
    font-size: 5vw;
    font-weight: bold;
    font-family: Verdana;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    
}

h3{
    margin: 0;
    font-size: 5vw;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
}

p{
    
    font-family: Verdana;
}

#p1{
    color :white;
    line-height: 1.6vw;
    font-size: 1vw;
}

#p2{
    line-height: 1.6vw;
    font-size: 1vw;
    text-align: center;
    margin-top: 2vw;
    margin-left: 20vw;
    margin-right:20vw

}

#p1:hover {
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.logo{
    color: white;
    font-family: verdana ;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}

.main{
    padding-top: 0rem;
    display: flex;
    margin-top: 0rem;

}

.main_content {
    background-color: rgb(255, 198, 91);
    width: 50vw;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 1rem;
}

.main_photo {
    display: fixed;
    opacity:100%;
    height: 80vh;
    overflow: hidden; /* This will hide any overflow from the image */
    max-width: 120%; /* This ensures the image maintains its aspect ratio */  
}

.main_video{
    position: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    overflow: hidden;
    max-height: 90vh;
    
    /*background-color: #000; /* Add a background color for debugging */
}


.main_photo img {
    max-width: 120%; /* This ensures the image maintains its aspect ratio */  
}


