
@keyframes stretch {
    0% {font-size: 1vw;}
    100% {
        font-size: 1.4vw;
        line-height: 2vw;
    }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 nav{
    height: 28px;
    background: rgb(40, 40, 40) ;
    display: flex ;
    justify-content: space-between ;
    
    padding: 1.5rem ; 
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(233, 167, 34);
    font-family: Verdana ;
    padding: 2rem; 
}

nav a:hover {
    padding: 2rem;
    background-color: rgb(40, 40, 40) ;
    color: rgb(255, 255, 255);
  }

body{
    text-align: left;
    background-color:rgb(255, 255, 255);
    width: fixed;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 3vw;
    font-family: Verdana;
}

h3{
    color: white;
    margin: 0;
    margin-left: 2vw; 
    margin-right: 2vw;
    font-size: 0.2vw;
    font-weight: bold;
    font-family: Verdana;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

.logo{
    color: white;
    font-family: verdana ;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}

.content {
    display:inline-block;
    text-align: center;
  }

.content ul {
   
    display:inline-block;
    zoom:1;
    text-align: left;
    color:white;
    font-family: Verdana;
    list-style-position: inside;
    list-style: inside;
  }

h2{
    color: white;
    margin: 0;
    margin-left: 2vw; 
    margin-right: 2vw;
    margin: 1vw;
    font-size: 1.2vw;
    font-weight: 300;
    font-family: Verdana;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

h4{
    color: white;
    margin: 0;
    margin-left: 2vw; 
    margin-right: 2vw;
    font-size: 2vw;
    font-weight: bold;
    font-family: Verdana;
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

p{
    
    font-family: Verdana;
}

#p1{
    color:white;
    line-height: 1.6vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: left;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#p2{
    color:white;
    line-height: 1.6vw;
    font-size: 1vw;
    text-align: left;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#p3{
    color:white;
    line-height: 1.6vw;
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

#p1:hover {
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


.main{
    padding-top: 0rem;
    display: fixed;
}

.main_block {
    display: flex;
    width:100vw ;
    height:35vw;
    margin-bottom: 10px;
}

.section {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Vertically center the content */
    align-items: right;
    width: 50%;
    background-color: rgb(253, 197, 84);
}

.infosection{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center;
    width: 30%;
    background-color: rgb(253, 197, 84);
}

.vertline {
    width: 5px;
    background-color: rgb(255, 255, 255);
}

.bigsection {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Vertically center the content */
    width: 100%;
    background-color: rgb(253, 197, 84);
}


.reto_photo {
    display: flex;
    justify-content: center; /* Horizontally centers the video player */
    align-items: center; /* Vertically centers the video player */
    opacity:1;
    width: 50%;
    margin: 0 auto;
    overflow: hidden; /* This will hide any overflow from the image */
    max-width: 100%; /* This ensures the image maintains its aspect ratio */  
}

.reto_photo img{
    scale:116%;
    max-width: 100%;
    display: block;
    
}
.reto_vid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    height: auto; /* Adjust the height */
    /* background-color: #000; /* Add a background color for debugging */
}

.background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.icon {
    width: 6vw;
    height: 6vw;
}

.new-button {
    /* Add your desired CSS styles here */
    height: auto; /* Adjust height as needed */
    width: 16vw;
    background-color: #ffffff; /* Green */
    font-family: verdana;
    padding: 1vw 1vw; /* Adjust padding as needed */
    text-align: center;
    display: inline-block;
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.new-button a{
    text-decoration: none;
    font-size: 1vw;
    color: rgb(0, 0, 0);
    font-family: Verdana ;
}

.new-button:hover {
    background-color: #adb1ae; /* Darker green on hover */
}

