
@keyframes stretch {
    0% {font-size: 1vw;}
    100% {
        font-size: 1.4vw;
        line-height: 2vw;
    }
}

nav{
    height: 26px;
    background: rgb(255, 198, 91) ;
    display: flex ;
    justify-content: space-between ;
    
    padding: 1.5rem ; 
}

nav a{
    text-decoration: none;
    color: black;
    font-family: Verdana ;
    padding: 2rem; 
}

nav a:hover {
    padding: 2rem;
    background-color: #000000;
    color: white;
  }

body{
    text-align: left;
    background-color:rgb(239, 224, 196);
    width: fixed;
    margin: 0;
}

h1{
    margin: 0;
    font-size: 3vw;
    font-family: Verdana;
}

h2{
    margin: 0;
    font-size: 5vw;
    font-weight: bold;
    font-family: Verdana;
}

h3{
    margin: 0;
    font-size: 5vw;
    font-weight: bold;
    font-family: Verdana;
    text-align: left;
}

p{
    
    font-family: Verdana;
}

#p1{
    line-height: 1.6vw;
    font-size: 1vw;
}

#p2{
    line-height: 1.6vw;
    font-size: 1.2vw;
    text-align: left;
    margin-top: 2vw;
  

}

#p1:hover {
    animation-name: stretch;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


.main{
    padding-top: 0rem;
    display: fixed;
}

.main_block {
    display: flex;

    background-color: rgb(242, 178, 58);
    width:100vw ;
    height:35vw;
    margin-bottom: 10px;
}

.section {
    
    width:50%;
    padding-top: 3vw;
    padding-bottom: 5vh;
    padding-right: 2vw;
    padding-left: 2vw;
    
}

.reto_photo {
    display: fixed;
    opacity:100%;
    height: 35vw;
    width: 50%;
    overflow: hidden; /* This will hide any overflow from the image */
    max-width: 100%; /* This ensures the image maintains its aspect ratio */  
}

.reto_photo img {
    max-width: 100%;
}
